html {
  min-height: 100%;
  background: linear-gradient(0deg, #325A98, #132656);
  background-attachment: fixed;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  margin: 4px;
}

#searchBox {
  display: flex;
  align-items: center;
}

#searchField {
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  text-shadow: 0 1px 0 #000;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0 5px 8px;
  flex-grow: 1;
}

#searchButton {
  background-color: #333;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5%20s2.463%2C5.5%2C5.5%2C5.5c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E");
  border: none;
  color: #fff;
  border-radius: 1em;
  padding: 0;
  margin-left: 5px;
  width: 1.75em;
  height: 1.75em;
  cursor: pointer;
}

h2 {
  border-bottom: solid black 1px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 #000;
  padding: 4px 10px;
  margin: 0;
}

h3 {
  border-bottom: solid black 1px;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #000;
  padding: 2px 6px;
  font-size: 1em;
  margin: 0;
}

.key {
  border: solid black 1px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.source {
  border: solid black 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 4px;
}

ul {
  padding-inline-start: 20px;
}

a, a:visited {
  color: white;
}